{% load static %}

<div class="header">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
	<div class="navbar-brand">
	  <a class="navbar-item" href="/">
		<div class="navbar-logo"></div>
	  </a>
	</div>

	<div class="navbar-menu" id="navMenu">
	  <div class="navbar-start">
		<a class="navbar-item" href="/">Home</a>
		<a class="navbar-item" href="/">Charts</a>
		<a class="navbar-item" href="/">Transactons</a>
	  </div>

	  <div class="navbar-end">
		<div class="navbar-item">
		  <div class="buttons">
			{% if user.is_authenticated %}
			<a class="button" href="/">Logout</a>
			{% else %}
			<a class="button" href="/">Login</a>
			{% endif %}
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
</nav>
